{% extends 'foundation.html' %}

{% block content %}
  <!--main-->
  <div id="login" class="large-6 small-12 large-centered columns">
    <div class="row">
      {% if form.errors %}
      <p>Нэвтрэх нэр эсвэл нууц үг буруу байна. <br>Дахин оролдоно уу.</p>
      {% endif %}

      <form class="form-horizontal" name="LoginForm" action="{% url 'login' %}" method="post">
        <div class="row">
          {% csrf_token %}
          {{ form.non_field_errors }}

          {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
          <div class="control-group">
            <div class="controls">
              <input type="text" id="username" name="username"  placeholder="Нэвтрэх нэр"> {{ form.username.errors }}
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="password" name="password" id="password" placeholder="Нууц үг"> {{ form.password.errors }}
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="">Нэвтрэх</button>
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--//main-->
  </div>
  </div>
  </div>
{% endblock content %}
